@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

button {
  cursor: pointer;
}

body {
  font-family: "Overpass", sans-serif;
  width: 375px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 600px;
  background-image: url(/images/bg-pattern-intro.svg), linear-gradient(135deg, #ff8f71, #ff3e55);
  background-repeat: no-repeat, no-repeat;
  background-size: 300%, 100%;
  background-position: center, center;
  border-radius: 0px 0px 0px 100px;
  padding: 56px 24px 0px 24px;
  color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.header__logo {
  cursor: pointer;
}

.header__hamburger-menu {
  cursor: pointer;
}

.header__titel {
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 108px;
  text-align: center;
}

.header__desc {
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
}

.header__btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  padding: 0px 18px;
}

.header__button {
  height: 48px;
  width: 137px;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

.header__button-start {
  color: #ff525d;
  border: none;
}

.header__button-learn {
  color: white;
  border: 1px solid white;
  background: none;
}

.header__button-signup {
  background-image: linear-gradient(135deg, #ff8f71, #ff3e55);
  color: white;
  border: none;
  margin-top: 0.5rem;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 125px;
  width: 324px;
  padding: 24px 24px 32px 24px;
  background: white;
  border-radius: 5px;
}

.nav-menu__btn-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu__litem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu__link {
  color: #1f3f5b;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.75rem;
}

.nav-menu__icon {
  cursor: pointer;
}

.nav-menu__sublist {
  display: none;
  width: 276px;
  background-color: rgba(45, 46, 64, 0.1);
  border-radius: 5px;
  align-items: center;
  padding: 18px 0px;
}

.nav-menu__sublitem {
  width: 100%;
}

.nav-menu__sublink {
  text-align: center;
  display: inline-block;
  width: inherit;
  color: #1f3f5b;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  transition: all 0.4s ease;
}

.nav-menu__sublink:hover {
  background-color: white;
}

.nav-menu__line {
  width: 100%;
  border: 1px solid rgba(45, 46, 64, 0.1);
  margin: 24px 0px 12px 0px;
}

.nav-menu--show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 100px 0px;
  padding: 0px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1__title {
  font-size: 1.75rem;
  line-height: 2rem;
  padding: 0 1rem;
  color: #1f3f5b;
}

.section1__image--mobile {
  margin: 38px 0px 46px 0px;
}

.section1__image--desktop {
  display: none;
}

.section1__desc {
  padding: 0px 12px;
  margin: 32px 0px 40px 0px;
  letter-spacing: 0.5px;
  line-height: 1.75em;
  color: #4c5862;
}

.section2 {
  justify-content: flex-end;
  padding-bottom: 100px;
  height: 625px;
  background-image: url(/images/bg-pattern-circles.svg), linear-gradient(#2d2e40, #3f4164);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: center -250px, 0% 0%;
  border-radius: 0 100px 0 100px;
  position: relative;
  top: 100px;
  text-align: center;
  color: white;
}

.section2__image {
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
}

.section2__title {
  font-size: 2.5rem;
}

.section2__desc {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.75rem;
  padding: 24px 0px;
}

.section3 {
  position: relative;
  top: 80px;
}

.section3__title {
  font-size: 1.75rem;
  line-height: 2rem;
  padding: 0 1rem;
  color: #1f3f5b;
}

.section3__desc {
  padding: 0px 16px;
  margin: 32px 0px 40px 0px;
  letter-spacing: 0.5px;
  line-height: 1.75em;
  color: #4c5862;
}

.section3__image--desktop {
  display: none;
}

.footer {
  background-color: #25252d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 70px 0px;
  border-radius: 0px 100px 0px 0px;
}

.footer__section {
  width: 100%;
}

.footer__section:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer__logo {
  margin-bottom: 2.5rem;
}

.footer__sub-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.footer__litem {
  opacity: 0.4;
  width: 100%;
}

.footer__link {
  display: inline-block;
  width: inherit;
  padding: 0.7rem;
}

.footer__link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    max-width: 1440px;
  }
  .header {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .header__container {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .header__hamburger-menu {
    display: none;
  }
  .header__button-signup {
    background: white;
    color: #ff525d;
    margin: 0;
  }
  .header__titel {
    font-size: 4rem;
  }
  .header__desc {
    font-size: 1.25rem;
  }
  .header__btn-container {
    justify-content: center;
  }
  .header__button {
    margin-left: 1rem;
  }
  section {
    width: inherit;
    height: 100%;
    margin: 200px 0px;
  }
  .nav-menu {
    position: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
    background: none;
    width: 100%;
    height: 100%;
  }
  .nav-menu__btn-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu__line {
    display: none;
  }
  .nav-menu__link {
    color: white;
  }
  .nav-menu__icon {
    content: url(../images/icon-arrow-light.svg);
  }
  .section1 {
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 165px;
  }
  .section1__image--mobile {
    display: none;
  }
  .section1__image--desktop {
    display: initial;
    position: absolute;
    left: 55%;
    display: flex;
    align-items: center;
    width: 45%;
    max-width: 648px;
    overflow-x: hidden;
  }
  .section1__title {
    margin: 0;
    padding: 0;
  }
  .section1__title--main {
    align-self: center;
    font-size: 2.5rem;
    margin-bottom: 6rem;
    margin-right: 12rem;
  }
  .section1__title--sub {
    text-align: left;
    align-self: start;
  }
  .section1__desc {
    width: 45%;
    max-width: 540px;
    padding: 0;
    text-align: left;
    align-self: start;
  }
  .section2 {
    height: 400px;
    display: grid;
    display: none;
    padding: 0px 165px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 60%;
    column-gap: 2rem;
  }
  .section2__image {
    position: initial;
    grid-column: 1 / span 1;
    width: 200%;
    justify-self: center;
  }
  .section2__title {
    grid-column: 2 / span 1;
    align-self: end;
    justify-self: start;
    width: 540px;
    padding-bottom: 1rem;
  }
  .section2__desc {
    grid-column: 2 / span 1;
    align-self: start;
    text-align: left;
    padding: 0;
    width: 540px;
  }
  .section3 {
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 10% 40%;
    justify-items: start;
    align-items: start;
    top: 400px;
  }
  .section3__image--mobile {
    display: none;
  }
  .section3__image--desktop {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    width: 150%;
    display: initial;
    position: relative;
    left: -50%;
    top: -40%;
  }
  .section3__desc {
    width: 540px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .section3__title {
    margin: 0;
    padding: 0;
  }
  .footer {
    width: 100%;
    height: 360px;
    position: static;
    bottom: 0;
    left: 0;
  }
}
/*# sourceMappingURL=main.css.map */