.footer {
  background-color: $Very-dark-black;
  @include displayFlex(column, center, center);
  color: $White;
  text-align: center;
  padding: 70px 0px;
  border-radius: 0px 100px 0px 0px;
  &__section {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__logo {
    margin-bottom: 2.5rem;
  }
  &__sub-title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  &__litem {
    // padding: 0.5rem;
    opacity: 0.4;
    width: 100%;
  }
  &__link {
    display: inline-block;
    width: inherit;
    padding: 0.7rem;
    &:hover {
      background-color: rgba($color: $White, $alpha: 0.4);
    }
  }
}
