@include media-lg {
  body {
    width: 100%;
    max-width: 1440px;
  }

  .header {
    // position: relative;
    padding-left: 10rem;
    padding-right: 10rem;
    &__container {
      display: flex;
      justify-content: start;
      align-items: center;
    }
    &__hamburger-menu {
      display: none;
    }
    &__button-signup {
      background: $White;
      color: $light-red;
      margin: 0;
    }
    &__titel {
      font-size: 4rem;
    }
    &__desc {
      font-size: 1.25rem;
    }
    &__btn-container {
      justify-content: center;
    }
    &__button {
      margin-left: 1rem;
    }
  }

  section {
    width: inherit;
    height: 100%;
    margin: 200px 0px;
  }
  .nav-menu {
    position: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
    background: none;
    width: 100%;
    height: 100%;

    &__btn-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__line {
      display: none;
    }

    &__link {
      color: $White;
    }
    &__icon {
      content: url(../images/icon-arrow-light.svg);
    }
  }
  .section1 {
    position: relative;
    width: 100%;

    padding: 0;
    padding-left: 165px;

    &__image {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: initial;
        position: absolute;
        left: 55%;
        display: flex;
        align-items: center;
        width: 45%;
        max-width: 648px;
        overflow-x: hidden;
      }
    }
    &__title {
      margin: 0;
      padding: 0;
      &--main {
        align-self: center;
        font-size: 2.5rem;
        margin-bottom: 6rem;
        margin-right: 12rem;
      }
      &--sub {
        text-align: left;
        align-self: start;
      }
    }
    &__desc {
      width: 45%;
      max-width: 540px;
      padding: 0;
      text-align: left;
      align-self: start;
    }
  }

  .section2 {
    height: 400px;
    display: grid;
    display: none;
    padding: 0px 165px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 60%;
    column-gap: 2rem;
    &__image {
      position: initial;
      grid-column: 1 / span 1;
      width: 200%;
      justify-self: center;
    }
    &__title {
      grid-column: 2 / span 1;
      align-self: end;
      justify-self: start;
      width: 540px;
      padding-bottom: 1rem;
    }
    &__desc {
      grid-column: 2 / span 1;
      align-self: start;
      text-align: left;
      padding: 0;
      width: 540px;
    }
  }
  .section3 {
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 10% 40%;
    justify-items: start;
    align-items: start;
    top: 400px;
    &__image {
      &--mobile {
        display: none;
      }
      &--desktop {
        grid-column: 1 / span 1;
        grid-row: 1 / span 4;
        width: 150%;
        display: initial;
        position: relative;
        left: -50%;
        top: -40%;
      }
    }
    &__desc {
      width: 540px;
      text-align: left;
      margin: 0;
      padding: 0;
    }
    &__title {
      margin: 0;
      padding: 0;
    }
  }
  .footer {
    width: 100%;
    height: 360px;
    position: static;
    bottom: 0;
    left: 0;
  }
}
