@include media-lg {
  body {
    width: 100%;
    max-width: 1440px;
  }

  .header {
    // position: relative;
    padding-left: 10rem;
    padding-right: 10rem;
    &__container {
      display: flex;
      justify-content: start;
      align-items: center;
    }
    &__hamburger-menu {
      display: none;
    }
    &__button-signup {
      background: $White;
      color: $light-red;
      margin: 0;
      &:hover {
        background-color: $very-light-red;
        color: $White;
      }
    }
    &__titel {
      font-size: 4rem;
    }
    &__desc {
      font-size: 1.25rem;
    }
    &__btn-container {
      justify-content: center;
    }
    &__button {
      margin-left: 1rem;
    }
  }
  .nav-menu {
    &__litem {
      position: relative;
    }
    &__sublist {
      position: absolute;
      top: 48px;
      left: 0;
      background-color: $White;
      width: 150%;
    }
    &__sublink {
      font-weight: 300;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: left;
      &:hover {
        font-weight: 900;
      }
    }
  }
  section {
    width: 100%;
    height: 100%;
    margin: 200px 0px;
  }
  .nav-menu {
    position: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
    background: none;
    width: 100%;
    height: 100%;
    box-shadow: initial;

    &__btn-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__line {
      display: none;
    }

    &__link {
      color: $White;
    }
    &__icon {
      content: url(../images/icon-arrow-light.svg);
    }
  }
  .section1 {
    position: relative;

    padding: 0;
    padding-left: 165px;

    &__image {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: initial;
        position: absolute;
        left: 55%;
        display: flex;
        align-items: center;
        width: 45%;
        max-width: 648px;
        overflow-x: hidden;
      }
    }
    &__title {
      margin: 0;
      padding: 0;
      &--main {
        align-self: center;
        font-size: 2.5rem;
        margin-bottom: 6rem;
        margin-right: 12rem;
      }
      &--sub {
        text-align: left;
        align-self: start;
      }
    }
    &__desc {
      width: 45%;
      max-width: 540px;
      padding: 0;
      text-align: left;
      align-self: start;
    }
  }
  .section2 {
    position: initial;
    // width: auto;
    height: 400px;
    display: grid;
    padding: 0px 11.4583333%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
    column-gap: 5%;
    &__image {
      position: initial;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      align-self: end;
      text-align: left;
      width: 100%;
      padding-bottom: 1rem;
    }
    &__desc {
      grid-column: 2 / span 1;
      align-self: start;
      text-align: left;
      padding: 0;
      max-width: 540px;
    }
  }
  .section3 {
    position: relative;
    padding: 0;
    padding-right: 165px;
    height: 500px;
    align-items: flex-end;
    &__image {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        left: 0%;
        width: 45%;
        max-width: 648px;
        overflow-x: hidden;
      }
    }
    &__desc {
      width: 55%;
      max-width: 540px;
      text-align: left;
      padding-left: 0;
    }
    &__title {
      width: 55%;
      max-width: 540px;
      padding-left: 0;
      text-align: left;
    }
  }
  .footer {
    flex-direction: row;
    align-items: flex-start;
    padding: 70px 165px;
    margin-top: 300px;
    height: 360px;

    &__link {
      &:hover {
        background-color: initial;
        text-decoration: underline;
      }
    }
  }
}
