//Primary Color

$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);

// Neutral

$White: hsl(0, 0%, 100%);
$Grayish-blue: hsl(240, 2%, 79%);
$Very-dark-grayish: hsl(207, 13%, 34%);
$Very-dark-black: hsl(240, 10%, 16%);
$grey: rgba(#2d2e40, 0.1);
//font-weights

$light: 300;
$semi-bold: 600;
